<div class="container">
  <%= simple_form_for [@restaurant] do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :category %>
  <%= link_to "Back", restaurants_path, class: "btn btn-primary"  %>
  <%= f.submit "Submit", class: "btn btn-primary"  %>
  <% end %>
  <p></p>
</div>
